REACT_APP_FIREBASE_API_KEY=AIzaSyDWbXNonQUJ78YIdWQ37O09_FbrQuq3V6I
REACT_APP_FIREBASE_AUTH_DOMAIN=matricolive-3edb3.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=matricolive-3edb3
REACT_APP_FIREBASE_STORAGE_BUCKET=matricolive-3edb3.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=1015149627541
REACT_APP_FIREBASE_APP_ID=1:1015149627541:web:c9b5691004381b315f739c
REACT_APP_FIREBASE_MEASURMENT_ID=G-L4E7QGQMKC
