.footer {
  padding: 50px;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(71, 71, 71);
  height: 40px;
  width: 40px;
  margin-right: 10px !important;
  transition: 0.2s ease-out;
}

.footer-icon:hover {
  background: #333333;
  border: 1px solid #333333;
  transition: 0.4s ease-in;
}
